# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Compiled files
*.class
*.jar

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

bin
lib

# Package Files #
*.jar
*.war
*.ear
